In [7]:
import pandas as pd

df = pd.read_csv("../data/hospital_readmissions.csv")

print(f"Filas: {df.shape[0]} ------> Columnas: {df.shape[1]}")
df.describe()

Filas: 25000 ------> Columnas: 17

,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency
count,25000.00000,25000.00000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000
mean,4.45332,43.24076,1.352360,16.252400,0.366400,0.615960,0.186600
std,3.00147,19.81862,1.715179,8.060532,1.195478,1.177951,0.885873
min,1.00000,1.00000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,2.00000,31.00000,0.000000,11.000000,0.000000,0.000000,0.000000
50%,4.00000,44.00000,1.000000,15.000000,0.000000,0.000000,0.000000
75%,6.00000,57.00000,2.000000,20.000000,0.000000,1.000000,0.000000
max,14.00000,113.00000,6.000000,79.000000,33.000000,15.000000,64.000000

In [ ]:
df.columns

In [10]:
df.groupby("readmitted")["readmitted"].count()

readmitted
no     13246
yes    11754
Name: readmitted, dtype: int64